.env
data/
*.log

# webhosting
www/

# traefik
ACME
traefik.yml
shell.sh

# laravel
app/
db/
database/
src/
/vendor/
composer.phar
app_config/
db_config/

# generic
default.md
default.yml

# security
*.key
