composer.phar
/vendor/
www/
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

.env
db/
app/
src/
data/
database/
db_config/
app_config/
ACME
traefik.yml
shell.sh
*.log
3_st_sq/

# generische Daten
default.md
default.yml

# Sicherheit
*.key

